footer
  .cut_line
    text-align: center
    margin: 0px auto
    padding-top: 35px
    padding-bottom: 22px
  .text
    margin: 0px auto
  img
    float: left
    padding-right: 10px
  div
    width: 230px
    line-height: 25px
    letter-spacing: 1px