@import "../define"

.touch
  border: 1px dashed $border-red
  border-radius: 6px
  margin: 0 35px
  text-align: center
  font-size: 16px
  line-height: 2em
  padding: 10px 0

  .keyword
    color: $font-red

.label
  font-size: 12px
  margin: 0.5em 0
  text-align: center